/*
  Library styles
*/
.PhoneInput input {
  flex: 1;

  width: 100%;
  height: -webkit-fit-content;
  padding: 10px 26px 10px 40px;

  border: 1px solid #000000;
  box-shadow: none;
  /* Remove box-shadow in safari */
  -webkit-appearance: none;

  color: #000000;

  text-indent: 30px;
  font-size: 14px;
  font-weight: 500 !important;

  outline: none;
  background-color: transparent;

  z-index: 1;
}

.PhoneInput input:focus {
  border-color: deepskyblue;
  box-shadow: none;
}

.PhoneInput input::placeholder {
  margin-left: 20px;
  color: darkgray;
  font-size: 14px;
  font-weight: 500;
}

/*
  Custom styles
*/

.field {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 280px;
}

.field__input--error input,
.field__input--error input:focus {
  border-color: tomato;
}

.field__label {
  order: -1;
  margin-bottom: 6px;
  padding-left: 4px;
  color: #000000;
}

.field__error {
  margin-top: 4px;

  color: tomato;
  font-size: 13px;
  font-weight: 500;
}
